---
import { BackButton } from "../../components/BackButton";
import { ImageInfos } from "../../components/ImageInfos";
import Layout from "../../layouts/Layout.astro";
import { getSortedMetadata, loadMetadata } from "../../lib/metadata";

export function getStaticPaths() {
	const items = loadMetadata();
	return items.map((item) => ({
		params: { slug: item.filename },
	}));
}

const { slug } = Astro.params;
const imageData = getSortedMetadata().find((item) => item.filename === slug);
---

<Layout title={imageData ? `${imageData.title} - Photos` : "Not found"}>
	{
		imageData ? (
			<div class="flex min-h-screen justify-center bg-black pt-[10vh] relative">
				<div class="absolute top-4 left-4 ">
					<BackButton client:load />
				</div>
				<div class="absolute bottom-4 left-4 ">
					<ImageInfos image={imageData} />
				</div>
				<div class="max-h-[80vh] max-w-full">
					<img
						src={imageData.src}
						alt={imageData.filename}
						width={imageData.width}
						height={imageData.height}
						class="max-h-[80vh] max-w-full object-contain"
						loading="eager"
						decoding="async"
					/>
				</div>
			</div>
		) : (
			<div class="flex min-h-screen items-center justify-center">
				<div class="text-center">
					<h1 class="mb-2 text-2xl font-bold">Image not found</h1>
					<p class="text-gray-600">The requested image could not be found.</p>
				</div>
			</div>
		)
	}
</Layout>
